<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net472" />
  <package id="Azure.Core" version="1.22.0" targetFramework="net472" />
  <package id="Azure.Storage.Blobs" version="12.11.0" targetFramework="net472" />
  <package id="Azure.Storage.Common" version="12.10.0" targetFramework="net472" />
  <package id="Azure.Storage.Files.Shares" version="12.9.0" targetFramework="net472" />
  <package id="boletofacilsdk" version="1.0.8" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="CircularProgressBar" version="2.8.0.16" targetFramework="net472" />
  <package id="FiscalBr.Common" version="4.0.0" targetFramework="net472" />
  <package id="FiscalBr.Sintegra" version="2.0.0" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.14.0" targetFramework="net472" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net472" />
  <package id="JWT" version="5.1.1" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net472" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net472" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Graph.Core" version="1.4.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.44.0" targetFramework="net472" />
  <package id="Microsoft.OneDriveSDK" version="2.0.7" targetFramework="net472" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.22518.12000" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.864.35" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.17763.1000" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.27" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NHibernate" version="5.3.10" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net472" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net472" />
  <package id="Syncfusion.Grid.Base" version="19.3.0.43" targetFramework="net472" />
  <package id="Syncfusion.Grid.Windows" version="19.3.0.43" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.3.0.43" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="19.3.0.43" targetFramework="net472" />
  <package id="Syncfusion.Shared.Windows" version="19.3.0.43" targetFramework="net472" />
  <package id="Syncfusion.SpellChecker.Base" version="19.3.0.43" targetFramework="net472" />
  <package id="Syncfusion.Tools.Base" version="19.3.0.43" targetFramework="net472" />
  <package id="Syncfusion.Tools.Windows" version="19.3.0.43" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.6.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Hashing" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.Http.Json" version="6.0.0" targetFramework="net472" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.WebSockets.Client" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Unimake.Unidanfe" version="20220117.1131.32" targetFramework="net472" />
  <package id="Wdc.System.Net.Http.Formatting.NetStandard" version="1.0.7" targetFramework="net472" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net472" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.8" targetFramework="net472" />
</packages>